.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping__box {
  width: 652px;
  margin-top: 96px;
  margin-bottom: 128px;
}

.shopping__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 306px;
  position: relative;
  -webkit-box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
          box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
}

.shopping__card:not(:nth-last-child(2)) {
  margin-bottom: 42px;
}

.close {
  position: absolute;
  top: 28px;
  right: 22px;
}

.shopping__card img {
  max-height: 306px;
}

.shopping__card__text {
  margin: 22px 0 0 31px;
}

.shopping__card__text h1 {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 42px;
  color: #222222;
}

.shopping__card__text p {
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 6px;
  color: #575757;
}

.decore {
  color: #F16D7F;
}

.quantity {
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #EAEAEA;
  padding: 1px 17px;
  margin-left: 24px;
  color: #656565;
}

.shopping__btn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping__btn__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border: none;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  margin-top: 72px;
  cursor: pointer;
  color: #000000;
}

.shopping__order {
  margin-top: 113px;
  width: 360px;
}

.shopping__order__form {
  padding-bottom: 57px;
}

.shopping__order__form h1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px;
  color: #222222;
}

.shopping__order__form input:not(:last-child) {
  margin-bottom: 20px;
}

.shopping__order__field {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding: 13px 0 13px 17px;
  border: 1px solid #A4A4A4;
  width: 360px;
  color: #B1B1B1;
}

.shopping__order__field::-webkit-inner-spin-button {
  display: none;
}

.shopping__order__btn {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  background: none;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  padding: 10px 14px;
  color: #4A4A4A;
}

.shopping__order__proceed {
  width: 360px;
  background-color: #F5F3F3;
}

.shopping__order__proceed h2 {
  font-size: 11px;
  line-height: 13px;
  text-align: end;
  padding: 39px 34px 12px 0;
  color: #4A4A4A;
}

.shopping__order__proceed h1 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: end;
  padding: 0 34px 21px 0;
  color: #222222;
}

.shopping__order__proceed span {
  margin-left: 25px;
}

.shopping__order__proceed hr {
  width: 275px;
  margin: 0 auto;
  background: #E2E2E2;
}

.shopping__order__proceed .shopping__orde__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shopping__order__proceed button {
  padding: 15px 43px;
  margin-top: 17px;
  margin-bottom: 42px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #F16D7F;
}
/*# sourceMappingURL=cart.css.map */