/* filter */
.cont {
  padding: 44px 0 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  width: 360px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  padding-left: 17px;
  margin-right: 36px;
}

summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
  cursor: pointer;
  color: #6F6E6E;
}

.filter-img {
  margin-left: 8px;
}

summary::-webkit-details-marker {
  display: none;
}

.filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter[open] > summary {
  color: #EF5B70;
  outline: none;
  border: none;
  fill: #EF5B70;
  padding-top: 8px;
}

.filter[open] > .fiter-content {
  padding: 0 10px 0 17px;
}

.fiter-content {
  position: absolute;
  background-color: #fff;
  width: 360px;
  left: 0;
  -webkit-box-shadow: 6px 24px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 24px 35px rgba(0, 0, 0, 0.21);
}

.filter-title > summary {
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  color: #EF5B70;
  font-size: 14px;
  line-height: 17px;
  margin: 15px 0 15px 0;
  padding: 11px 0 11px 11px;
}

.filter-item {
  list-style-type: none;
  padding: 0 0 11px 17px;
}

.filter-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

/* .sort */
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sort__category:not(:last-child) {
  margin-right: 28px;
}

.sort__nav__bar {
  margin-left: 11px;
}

.sort__size {
  position: relative;
}

.size {
  position: absolute;
  margin-top: 5px;
  padding: 7px 10px 11px 9px;
  background-color: #fff;
  min-width: 79px;
  border: none;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.size label {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.size label:not(:last-child) {
  padding-bottom: 6px;
}

.size-input {
  margin-right: 9px;
}

/* .pagination */
.pagination {
  margin: 18px 0 96px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background: #ffffff;
  border: solid #EBEBEB;
  padding: 13px 8px;
}

.unordered__list {
  list-style-type: none;
  padding: 0 8px 0 8px;
}

.unordered__more {
  list-style-type: none;
}

.pagination__link {
  color: #c4c4c4;
  text-decoration: none;
}

.active {
  color: #EF5B70;
}

.pagination__more {
  color: #c4c4c4;
  text-decoration: none;
}
/*# sourceMappingURL=catalog.css.map */