
$decore: #F16D7F;


.page {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

  }

.registration{
    display: flex;
    justify-content: space-between;

    padding-top: 64px;
}

.registration {
    form{
       
        width: 360px;
    }
   
  
    form h1{
        font-size: 16px;
        line-height: 19px;
        font-weight: 300;
        margin-bottom: 20px;

        color: #222222;

    }
    .registration__field{
        margin-bottom: 20px;
        padding: 13px 0 13px 17px; 
        width: 360px; 
    }
    .radio{
        display: flex;
        margin: 30px 0 31px 0;
    }
    .radio__gander:not(:last-child){
        margin-right: 20px;
    }
    .radio__gander{
        display: flex;
        cursor: pointer;
    }
    .radio__gander__text{
        margin-left: 10px;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;

        color: #000000;
    }
    form p {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;

        color: #B1B1B1;

    }
    .registration__button{
        cursor: pointer;
        border: none;
        background-color: $decore;
        color: #fff;
        padding: 16px 30px;
        margin: 40px 0 96px 0;

        transition: all 0.8s;
    }
    .registration__button:hover{
        background: #fff;
        color: $decore;
        border: 1px solid $decore;

        transform: rotateY(720deg);
    }
    .registration__icon{
        margin-left: 20px;
        fill: #fff;
        transition: all 1s;
    }
    .registration__button:hover .registration__icon{
        fill: #F16D7F
    }
}

.advantages{
    width: 650px;
}
.advantages{

    h1, p{
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;

        color: #000000;
    }
    ul li{
        list-style: none;
        background: url(../img/advantages.svg) no-repeat;
        padding-left: 44px;
        transform: scale(1);
        transition: all 0.5s;
    }
    ul li:hover{
        margin-left: 130px;
        transform: scale(1.5);
        
    }
    ul li:not(:last-child){
        
        margin-bottom: 24px;
    }
}

@import "block/header";

@import "block/nav-menu";

@import "block/feature";
@import "block/footer";

@import "block/media"


